In [1]:
#DHEEPIKA.I
#REGISTER NO:21UAI023

In [14]:
#INHERITANCE
class Base1(object):
    def __init__(self):
        self.str1 = "Harry"
        print(self.str1)
 
 
class Base2(object):
    def __init__(self):
        self.str2 = "Potter"
        print(self.str2)
 
 
class Derived(Base1, Base2):
    def __init__(self):
 
        Base1.__init__(self)
        Base2.__init__(self)
        print("Derived")
 
    def printStrs(self):
        print(self.str1, self.str2)
 
 
ob = Derived()
ob.printStrs()

Harry
Potter
Derived
Harry Potter

In [24]:
class Base(object):
 
    def __init__(self, name):
        self.name = name
 
    def getName(self):
        return self.name
 

class Child(Base):
 
    def __init__(self, name, number):
        Base.__init__(self, name)
        self.number = number
 
    def getnumber(self):
        return self.number
 
 
class GrandChild(Child):
 
    def __init__(self, name, number, address):
        Child.__init__(self, name, number)
        self.address = address
 
    def getAddress(self):
        return self.address
 
g = GrandChild("Dheepika", 12, "Pondicherry")
print(g.getName(), g.getnumber(), g.getAddress())

Dheepika 12 Pondicherry

In [35]:
#Public
class tour:
      
     def __init__(self, country, days):
           
           self.tourcountry = country
           self.tourdays = days
      
     def displaytour(self):
           
           print("Country: ", self.tourcountry)
 
obj = tour("Canada", 8)
 
print("Days: ", obj.tourdays)
 
obj.displaytour()

Days:  8
Country:  Canada

In [127]:
#Protected
class Student:
    
     _name = None
     _roll = None
     _branch = None
    
     def __init__(self, name, roll, branch): 
          self._name = name
          self._roll = roll
          self._branch = branch
      
     def _displayRollAndBranch(self):
 
          print("Roll: ", self._roll)
          print("Branch: ", self._branch)
 
 
class Geek(Student):
 

       def __init__(self, name, roll, branch):
                Student.__init__(self, name, roll, branch)
         
       def displayDetails(self):
                   
                print("Name: ", self._name)
                   
                self._displayRollAndBranch()
 
     
obj = Geek("Dheepika", 213141, "AI&DS")
 

obj.displayDetails()

Name:  Dheepika
Roll:  213141
Branch:  AI&DS

In [128]:
#Exception Handling
import numpy as np
import pandas as pd
eh = np.array([0, None, 3, 2])
eh

array([0, None, 3, 2], dtype=object)

In [129]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
105 ms ± 2.47 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
3.51 ms ± 96.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [130]:
eh1 = np.array([55, 0, 1, 12]) 
eh1.dtype

dtype('int32')

In [131]:
eh1.sum(), eh1.min(), eh1.max()

(68, 0, 55)

In [132]:
np.nansum(eh1), np.nanmin(eh1), np.nanmax(eh1)

(68, 0, 55)

In [133]:
a = pd.Series(range(8), dtype=int)
a

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [134]:
a[0] = None
a

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
dtype: float64

In [135]:
data = pd.Series([46, 'is', None])
data

0      46
1      is
2    None
dtype: object

In [136]:
data.isnull()

0    False
1    False
2     True
dtype: bool

In [137]:
data.dropna()

0    46
1    is
dtype: object

In [138]:
df = pd.DataFrame([[4,      np.nan, 2],
                   [3,      8,      7],
                   [89, 2,      9]])
print(df)
df.dropna(axis='columns')

    0    1  2
0   4  NaN  2
1   3  8.0  7
2  89  2.0  9

    0  2
0   4  2
1   3  7
2  89  9

In [139]:
#Regular Expression
import re

thistext = "The Student"
a = re.search("^The", thistext)
a

In [140]:
import re

thetext = "The Student"
a = re.findall("tud", thetext)
a

['tud']

In [141]:
import re

thetext = "The Student"
a = re.findall("w", thetext)
a

[]

In [142]:
import re

thetext = "The Student"
a = re.search("\s", thetext)

print("The first white-space character is located in position:", a.start())

The first white-space character is located in position: 3

In [143]:
import re

thetext = "The Student"
a = re.split("\s", thetext)
a

['The', 'Student']

In [144]:
import re

thetext = "The Student"
a = re.sub("\s","^", thetext)
a

'The^Student'

In [145]:
import re

text = "The Student"
x = re.sub("\s", "4", text, 1)
print(x)

The4Student

In [146]:
#numpy
#aggregation
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
print(df)
print(df.agg(['sum', 'min']))
print(df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']}))
print(df.agg("mean", axis="columns"))
print(df.agg("mean", axis="rows"))

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN
        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0
        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0
0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64
A    4.0
B    5.0
C    6.0
dtype: float64

In [147]:
#Comparison
ab1 = [2, 4, 6]
ab2 = [3, 6, 9]
  
if  ab1 is ab2:
    print("Yes")
else:
    print("No")
  
ab3 = ab1
  
# So we get "Yes" here
if  ab1 is ab3:
    print("Yes")
else:
    print("No")

if  ab1 == ab3:
    print("Yes")
else:
    print("No")

No
Yes
Yes

In [148]:
m = 66
n = 66

print(m == n)

True

In [149]:
m=84
n=35
print(m != n)
print(m < n)
print(m > n)

True
False
True

In [150]:
print(m >= n)
print(m <= n)

True
False

In [151]:
#Mask
import pandas as pd

df = pd.DataFrame({"A":[8, 45, 83, 64, 12],
                   "B":[78, 57, 28, 86, 78],
                   "C":[48, 16, 83, 76,99],
                   "D":[82, 73, 34, 20, 61]})
  
df

    A   B   C   D
0   8  78  48  82
1  45  57  16  73
2  83  28  83  34
3  64  86  76  20
4  12  78  99  61

In [152]:
df.mask(df > 8, -2)

   A  B  C  D
0  8 -2 -2 -2
1 -2 -2 -2 -2
2 -2 -2 -2 -2
3 -2 -2 -2 -2
4 -2 -2 -2 -2

In [153]:
import pandas as pd
   
df = pd.DataFrame({"A":[1, 2, 3, None, 5],
                   "B":[6, 7, 8, 9, None],
                   "C":[11, 12, 13, 14, 15],
                   "D":[16, 17, None, 19, 20]})
  
df.mask(df.isna(), 1000)

        A       B   C       D
0     1.0     6.0  11    16.0
1     2.0     7.0  12    17.0
2     3.0     8.0  13  1000.0
3  1000.0     9.0  14    19.0
4     5.0  1000.0  15    20.0

In [154]:
#Boolean Array
r=  [True for i in range(5)]
 
print ("The True initialized list is : " +  str(r))

The True initialized list is : [True, True, True, True, True]

In [155]:
r =  [True] * 3

print ("The True initialized list is : " +  str(r))

The True initialized list is : [True, True, True]

In [156]:
a = list(bytearray(20))

print ("The False initialized list is : " +  str(a))

The False initialized list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [157]:
arr_1 = np.random.randn(5, 4)
arr_2 = np.random.randn(5, 4)

bool_arr = arr_1 < 0.5    
print(bool_arr.dtype)

bool_arr = arr_1 < arr_2
print(bool_arr.dtype)

bool
bool